.wrapper {
  width: 500px;
  text-align: center
}

li {
  list-style: none;
}

.incompleteTodo {
  justify-content:center;
}

.incomplete-list, .complete-list {
  display: flex;
  justify-content:center;
}